/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


/* HTML5 display-role reset for older browsers */
 

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	display: flex;
	flex-direction: column;
	max-width: 1440px;
	margin: 100px;
	font-family: 'Work Sans' ;
	font-size: 14px;
	line-height: 1;
	gap: 70px;
	justify-content: center;

}
main {
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin: 90px;
	justify-content: center;
}
header {
	display: flex;
	width: 100%;
	
}
section {
	display:flex;
	
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
	width: 213px;
	height: 42px;
	justify-content: center;
	align-items: flex-start;
	gap: 4px;
}

h1 > span {
	display: flex;
	flex-wrap: nowrap;
	width: 213px;
	height: 42px;
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
	color: rgba(147, 83, 47, 1);
	text-align: center;
	font-family: Work Sans;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.5px;
	text-transform: uppercase;

}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav a {
	display: flex;
	text-decoration: none;
}
nav {
	display: flex;
	width: 100%;
	

}
nav div {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 20px;

}
nav h4 {
	color: #000;
	text-align: center;
	font-family: Work Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

h4:hover {
	color: #000;
	font-weight: bold;
}

#introduction {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	gap: 50px;
}
#introduction figure {
	display:block;
	object-fit: cover;
	
}
#introduction img {
	display: block;
	width: 100%;
	height: 355px;
}

#introduction article {
	display: flex;
	flex-direction: column;
	height: 192 px;
	width: 40%;
	color: #3D3D3D;
	font-family: Work Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding: 7px;
	gap:5px;

}
#introduction h2 {
	display:flex;
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	display: flex;
	text-align: center;
	padding: 30px 31px;
}
#portfolio {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.photoGallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	justify-content: center;
}
.works-projet {
	width: 310px;
	height: 413px;
}
.photoGallery img {
	width: 100%;

}
#contact {
	display: flex;
	flex-direction: column;
	
}
#contact > * {
	text-align: center;
}
p#mon-ancre {
	display: flex;
	justify-content: center;
}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top: 25px;
	margin-left: 353px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

input {
	width: 379px;
	height: 51px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
	
	width: 379px;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	
	width: 379px;
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em 80px;
	width: 180px;
	height: 36px;
	text-align: center;
	border-radius: 60px ;
}
#envoyer-contact.imput {
	width: 180px;
	height: 36px;
}
footer {
	display: flex;
	width: 100%;
}
footer nav div {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
ul {
	display:flex;
	width: 100%;
}
#mention-legale {
	display:flex;
	padding-left: 1000px;
	color: #000;
	font-family: Work Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	justify-content: flex-end;
}
#mention-legale:hover {
	font-weight: 600;
	cursor: pointer;
}
#text {
	visibility: hidden;
	display: none;
}
button {
	display: flex;
	font-family: 'Syne';
	font-weight: 700;
	background-color: white;
	height: 37px;
	text-align: center;
	border-radius: 60px;
	border: 1px solid #1D6154;
	color:#1D6154;
	font-size: 16px;
	font-style: normal;
}
button:hover, button:active, #btnTous:hover, #btnTous:active {
	background: #0E2F28;
	border: 1px solid #0E2F28;
	color:aliceblue;
	cursor: pointer;
}	
div.filterBar {
	display: flex;
	width: 100%;
	padding: 0px 125px;
	gap:10px;
	justify-items: center;
	margin: 50px 35px;
	justify-content: center;
}
#btnTous {
	background-color: #1D6154;
	border: 1px solid #1D6154;
	color:aliceblue;
	cursor: pointer;
	width: 100px;
	padding: 9px 30px;
}
#btnObjets {
	width: 130px;
	padding: 9px 30px;
}
#btnAppart {
	width: 187px;
	padding: 9px 30px;
}
#btnHotel {
	width: 225px;
	padding: 9px 22px;
}
#insta {
	width: 22px;
	height: 22px;
}
/*********page html login ***************/
#login {
	display: flex;
	justify-content: center;
	color: #1D6154;
	text-align: center;
	font-family: Syne;
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	height: 36px;
	width: 100%;
	padding: 2px 20px;
}
.loguin {
	display:flex;
	flex-direction: column;
	justify-content: center;
	width: 35%;
	margin: 150px 350px;
	gap: 50px;
}
#formulaire2 {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 10px;
	justify-content: center;
}
#email {
	justify-content: center;
	align-items: center;
	width: 379px;
	height: 51px;
	color: #3D3D3D;
	font-family: Work Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	background: #FFF;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}
#password {
	justify-content: center;
	align-items: center;
	width: 379px;
	height: 51px;
	color: #3D3D3D;
	font-family: Work Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	background: #FFF;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}
#seConnecter.imput {
	height: 36px;
	width: 179px;
	margin: 1em;
	color: #FFF;
	text-align: center;
	font-family: Syne;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
#oublier {
	display: flex;
	color: #3D3D3D;
	font-family: Work Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-decoration-line: underline;
	justify-content: center;
}
.popup p {
	display: flex;
	height: 30px;
	width: 100%;
	background-color: white;
	color: crimson;
	font-size: 16px;
	font-weight: 600;
	justify-content: center;
	font-family: Work Sans;
}
.popup {
	display: flex;
	flex-direction: column;
}
/****modale*****************************************************/
*,
::before,
::after { 
	box-sizing: border-box; 
	margin:0px;
	padding:0px;
} 
body {
	background: rgba(255, 255, 255, 1);
}
.modal-btn.button {
	padding: 10px 14px;
	font-size: 18px;
	margin: 100px auto;
	display: block;
	min-width: 150px;
	cursor: pointer;
}

.modal-container {
	visibility: hidden;
	position: fixed;
	top: 0;
	left:0;
	width: 100vw;
	height: 100vh;
	
}
.modal-container.active {
	visibility: visible;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7)
}

.modal {
	width: 630px;
	height: 731px;
	min-width: 300px;
	border-radius: 10px;
	background: rgba(255, 255, 255, 1);
	padding: 30px;
	position: absolute;
	top: 60%;
	left: 50%;
	transform:translate(-50%,-50%)
}
.close-modal {
	padding: 8px 10px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	position : absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	background: #FFF;
	border: #FFF;
	color: #000;

}
.close-modal:hover {
	background-color:rgba(14, 47, 40, 1);
	color: #FFF;
}
.modal h1 {
	display: flex;
	color: #000;
	text-align: center;
	font-family: Work Sans;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	width:100%;
	height: 30px;
	line-height: normal;
	padding: 60px 200px;
	justify-content: center;
}
p {
	display: flex;
}
/*******  barre mode edition  *********************************/
.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
}	
.mode-edition {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 59px;
	width: 1440px; 
	background: #000;
	color:white;
	align-items: baseline;
	padding: 5px;
	justify-content: center;
	gap: 10px;
}



#text-edition  {
	display: flex;
	color: #FFF;
	text-align: center;
	font-family: Work Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.fa-solid fa-pen-to-square {
	display: flex;
	color: #FFF;
	width: 15.58px;
	height: 15.58px;
	fill: #FFF;
	font-weight: 400;


}
#publier-changements {
	display: flex;
	width: 217px;
	height: 38px;
	color: #000;
	text-align: center;
	font-family: Work Sans;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	border-radius: 60px;
	background: #FFF;
	align-items: center;
	padding: 23px;
	
	
}
.frame {
	display: flex;
	width: 1140px;
	height: 42px;
	gap: 766px;
}
/************** modal***************************/	
.container2 {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: center;
	gap: 20px;
}
i.fa-solid.fa-pen-to-square {
	display: flex;
	width: 15.58px;
	height: 15.58px;
}
#modal-btn {
	height: 36px;
	width: 100px;
	color: #000;
	text-align: center;
	font-family: Work Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	border-color: #FFF;
	align-content: center;
	align-items: center;
	padding: 0px 19px;
	
}
#modal-btn:hover {
	color:white;
}
#container-gallery-modale {
	display: flex;
	grid-template-columns: 78px 78px 78px 78px 78px;
	grid-template-rows: 104px 104px 104px;
}






