/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


/* HTML5 display-role reset for older browsers */
 

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	display: flex;
	flex-direction: column;
	max-width: 1440px;
	margin: 100px;
	font-family: 'Work Sans' ;
	font-size: 14px;
	line-height: 1;
	gap: 70px;
	justify-content: center;

}
main {
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin: 90px;
	justify-content: center;
}
header {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 100%;
	
}
section {
	display:flex;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
	width: 213px;
	height: 42px;
	justify-content: center;
	align-items: flex-start;
	gap: 4px;
}

h1 > span {
	display: flex;
	flex-wrap: nowrap;
	width: 213px;
	height: 42px;
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
	color: rgba(147, 83, 47, 1);
	text-align: center;
	font-family: Work Sans;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.5px;
	text-transform: uppercase;

}
h2 {
	display: flex;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154; 
	justify-content: center;
}

 h3 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154; 
	justify-content: center;
	padding: 10Px;
}
b {
	color: #000;
	text-align: center;
	font-family: Work Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 700; 
}
nav a {
	display: flex;
	text-decoration: none;
	
}
nav {
	display: flex;
	width: 100%;
	height: 42px;
	justify-content: flex-end;

}
nav div {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 20px;

}
nav h4 {
	display: flex;
	color: #000;
	text-align: center;
	font-family: Work Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

h4:hover {
	color: #000;
	font-weight: bold;
}

#introduction {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	gap: 50px;
}
#introduction figure {
	display:block;
	object-fit: cover;
	
}
#introduction img {
	display: block;
	width: 100%;
	height: 355px;
}

#introduction article {
	display: flex;
	flex-direction: column;
	width: 40%;
	color: #3D3D3D;
	font-family: Work Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding: 7px;
	gap:5px;

}
#introduction h2 {
	display:flex;
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	display: flex;
	text-align: center;
	padding: 30px 31px;
}
#portfolio {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.photoGallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	justify-content: center;
}
.works-projet {
	width: 310px;
	height: 413px;
}
.photoGallery img {
	width: 100%;

}
#contact {
	display: flex;
	flex-direction: column;
}
#contact > * {
	text-align: center;
}
p#mon-ancre {
	display: flex;
	justify-content: center;
	padding: 10px;
}
#contact h2{
	display: flex;
	margin-bottom: 20px;
}
#contact form {
	display: flex;
	flex-direction: column;
	
	justify-content: center;
	gap: 15px;
	margin: 0px 25%;
	}	

input {
	display: flex;
	height: 51px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	display:flex;
}	
#contact textarea {
	display: flex;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	display: flex;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	height: 36px;
	width: 180px;
	justify-content: center;
	border-radius: 60px;
	margin: 40px 35%;
	
}
#envoyer-contact.imput {
	width: 180px;
	height: 36px;
}
footer {
	display: flex;
	width: 100%;
}
footer nav div {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
ul {
	display:flex;
	width: 100%;
}
#mention-legale {
	display:flex;
	flex-wrap: nowrap;
	padding-left: 80%;
	color: #000;
	font-family: Work Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	justify-content: flex-end;
}
#mention-legale:hover {
	font-weight: 600;
	cursor: pointer;
}
#text {
	visibility: hidden;
	display: none;
}
button {
	display: flex;
	font-family: 'Syne';
	font-weight: 700;
	background-color: white;
	height: 37px;
	text-align: center;
	border-radius: 60px;
	border: 1px solid #1D6154;
	color:#1D6154;
	font-size: 16px;
	font-style: normal;
}
button:hover, button:active, #btnTous:hover, #btnTous:active {
	background: #0E2F28;
	border: 1px solid #0E2F28;
	color:aliceblue;
	cursor: pointer;
}	
div.filterBar {
	display: flex;
	width: 100%;
	 gap:10px;
	justify-items: center;
	margin: 50px 35px;
	justify-content: center;
}
#btnTous {
	background-color: #1D6154;
	border: 1px solid #1D6154;
	color:aliceblue;
	cursor: pointer;
	width: 100px;
	padding: 9px 30px;
}
#btnObjets {
	width: 130px;
	padding: 9px 30px;
}
#btnAppart {
	width: 187px;
	padding: 9px 30px;
}
#btnHotel {
	width: 225px;
	padding: 9px 22px;
}
#insta {
	width: 22px;
	height: 22px;
}
/*********page html login ***************/
#login {
	display: flex;
	justify-content: center;
	color: #1D6154;
	text-align: center;
	font-family: Syne;
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	height: 36px;
	width: 100%;
	padding: 2px 100px;
}
.loguin {
	display:flex;
	flex-direction: column;
	justify-content: center;
	width: 35%;
	margin: 150px 350px;
	gap: 50px;
}
#formulaire2 {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 10px;
	justify-content: center;
	padding: 0px 65px;
}
#email {
	justify-content: center;
	align-items: center;
	height: 51px;
	color: #3D3D3D;
	font-family: Work Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	background: #FFF;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}
#password {
	justify-content: center;
	align-items: center;
	height: 51px;
	color: #3D3D3D;
	font-family: Work Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	background: #FFF;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}
#seConnecter button  {
	height: 36px;
	width: 179px;
	margin: 1em;
	color: #FFF;
	text-align: center;
	font-family: Syne;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
#oublier {
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
	color: #3D3D3D;
	font-family: Work Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-decoration-line: underline;
	padding: 0px 151px;
}
.popup p {
	display: flex;
	height: 30px;
	width: 100%;
	background-color: white;
	color: crimson;
	font-size: 16px;
	font-weight: 600;
	justify-content: center;
	font-family: Work Sans;
}
.popup {
	display: flex;
	flex-direction: column;
}
/****modale 1*****************************************************/
* {
	margin:0px;
	padding:0px;
} 
body {
	background: rgba(255, 255, 255, 1);
}
.modal-btn.button {
	padding: 10px 14px;
	font-size: 18px;
	margin: 100px auto;
	display: block;
	min-width: 150px;
	cursor: pointer;
}

.modal-container {
	visibility: hidden;
	position: fixed;
	top: 0;
	left:0;
	width: 100vw;
	height: 100vh;
	
}
.modal-container.active {
	visibility: visible;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7)
}

.modal {
	width: 630px;
	height: 731px;
	min-width: 300px;
	border-radius: 10px;
	background: rgba(255, 255, 255, 1);
	padding: 30px;
	position: absolute;
	top: 60%;
	left: 50%;
	transform:translate(-50%,-50%)
	
}
.close-modal {
	padding: 8px 10px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	position : absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	background: #FFF;
	border: #FFF;
	color: #000;

}
.close-modal:hover {
	background-color:rgba(14, 47, 40, 1);
	color: #FFF;
}
.modal h1 {
	display: flex;
	color: #000;
	text-align: center;
	font-family: Work Sans;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	width:100%;
	height: 30px;
	line-height: normal;
	padding: 60px 200px;
	justify-content: center;
}
p {
	display: flex;
}
/*******  barre mode edition  *********************************/
.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
}	
.mode-edition {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 59px;
	width: 1440px; 
	background: #000;
	color:white;
	align-items: baseline;
	padding: 5px;
	justify-content: center;
	gap: 10px;
}



#text-edition  {
	display: flex;
	color: #FFF;
	text-align: center;
	font-family: Work Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.fa-solid fa-pen-to-square {
	display: flex;
	color: #FFF;
	width: 15.58px;
	height: 15.58px;
	fill: #FFF;
	font-weight: 400;


}
#publier-changements {
	display: flex;
	width: 217px;
	height: 38px;
	color: #000;
	text-align: center;
	font-family: Work Sans;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	border-radius: 60px;
	background: #FFF;
	align-items: center;
	justify-content: center;
	
	
}
.frame {
	display: flex;
	height: 42px;
	gap: 766px;
}
/************** modal 1 ***************************/	
.container2 {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: center;
	gap: 20px;
}
i.fa-solid.fa-pen-to-square {
	display: flex;
	width: 15.58px;
	height: 15.58px;
}
#modal-btn {
	height: 36px;
	width: 100px;
	color: #000;
	text-align: center;
	font-family: Work Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	border-color: #FFF;
	align-content: center;
	align-items: center;
	padding: 0px 19px;
	
}
#modal-btn:hover {
	color:white;
}
#container-gallery-modale {
	display: grid;
	width: 420px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 30px;
	padding: 10px 70px;
	border-bottom-width: 4px;
	border-bottom-color: #B3B3B3;;  
}
.projets-modale {
	width: 78px ;
	height: 104px;
	object-fit: contain;
}
.image-modale {
	width: 100%;
	object-fit: contain;
	justify-content: center;
}
#ligne {
	padding: 20px 70px;
	width: 420px;
	color:#3D3D3D;
}
.text-miniature {
	color: #000;
	text-align: left;
	font-family: Work Sans;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	justify-content: center;
}
#btn-ajouter-photos {
	width: 30%;
	height: 36px;
	border-radius: 60px;
	background: #1D6154;
	color: #FFF;
	justify-content: center;
	padding: 6px 6px;
	margin: 15px 228px;
}
#btn-ajouter-photos:hover, #btn-ajouter-photos:active {
	background-color: #1D6154;
}
.fa-solid.fa-up-down-left-right::before {
	position: absolute;
	width: 10px;
	height: 11px;
	top: 115px;
	right: 544px;
	background:black;
	color:white;
	padding: 3px 3px;
	border: none;
	font-size: 10px;
	border-radius: 2px;
}
.delete-button:hover, .delete-button:active {
	background-color: rgba(14, 47, 40, 1);
	border-color: #D65353;
}
.fa-solid.fa-trash-can {
	width: 14px;
	height: 11px;
	font-size: 10px;	
	color:white;
}
.delete-button {
	position: absolute;
    width: 17px;
    height: 17px;
	color: #000;
    background-color: black;
   	margin: -101px 57px;
	border-radius: 2px;
    cursor: pointer;
	border-color: black;
}  
	
	

#btn-supp-gallerie {
	color: #D65353;
	width: 237px;
	height: 36px;
	text-align: center;
	font-family: Syne;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	background-color: white;
	border-color: white;
	margin: 0px 207px;
	padding: 20px 35px;
}
/******** modale 2 **********************************/
.modal2-container2 {
	visibility: hidden;
	position: fixed;
	top: 0;
	left:0;
	width: 100vw;
	height: 100vh;
	
}
.modal2-container2.active {
	visibility: visible;
}

.overlay2 {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7)
}

.modal2 {
	width: 630px;
	height: 731px;
	min-width: 300px;
	border-radius: 10px;
	background: rgba(255, 255, 255, 1);
	padding: 30px;
	position: absolute;
	top: 60%;
	left: 50%;
	transform:translate(-50%,-50%)
	
}

#titre-modale2{
	display: flex;
	color: #000;
	text-align: center;
	font-family: Work Sans;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	width:100%;
	height: 30px;
	line-height: normal;
	
	justify-content: center;
}
#frame2-modale2 {
	display: flex;
	flex-direction: column;
	border-radius: 3px;
	background: #E8F1F6;
	width: 178px;
	height: 169px;
	margin: -6px 99px;
	padding: 25px 124px;
	gap: 10px;
}
#telechgmntphoto {
	width: 176px;
	height: 76px;
	padding: 0px 45px;
}
#btn-ad-photo:hover, #btn-ad-photo:active {
	opacity: 0.7;
	cursor: pointer;
	color: white;
}	
#btn-ad-photo {
	display: flex;
	flex-direction: row;
	width: 173px;
	height: 36px;
	border-radius: 60px;
	background: #A7A7A7;
	border-color: #A7A7A7; 
	color: #306685;
	text-align: center;
	align-items: baseline;
	font-family: Work Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	align-items: center;
	padding: 8px 32px;
	
}
#text-modal2 {
	color: #444;
	text-align: center;
	font-family: Work Sans;
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	width: 100%;
	margin: 0px 37px;
}
#formulaire3 {
	display: flex;
	flex-direction: column;
	gap: 10px;
	color: #3D3D3D;
	font-family: Work Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin: 10px 86px;
	padding: 15px 15px;
}
input.modal2formulaire {
	width: 420px;
	height: 51px;
	background: #FFF;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	color: #3D3D3D;
	font-family: Work Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
#btn-valider2 {
	display:flex;
	width: 237px;
	height: 36px;
	margin: 33px 198px;
	padding: 6px 88px;
	background-color: #A7A7A7;
	color: #FFF;
	border-color: #A7A7A7;
}
#btn-valider2.active {
	display:flex;
	width: 237px;
	height: 36px;
	margin: 45px 164px;
	padding: 6px 88px;
	text-align: center;
	font-family: Syne;
	font-size: 14px;
	font-style: normal;
	color: #FFF;
	font-weight: 700;
	line-height: normal;
	background-color: #1D6154;
}
/********** bouton nagivation modale 2 *************************/
#reviens-arriere-page {
	border-color:#3D3D3D;
	padding: 8px 10px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	position : absolute;
	top: 12px;
	right: 649px;
	cursor: pointer;
	background: #FFF;
	color: #3D3D3D;
}
#reviens-arriere-page:hover, #reviens-arriere-page:active {
	background-color: #0E2F28;
}
.close-modal2 {
	padding: 8px 10px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	position : absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	background: #FFF;
	border: #FFF;
	color: #3D3D3D;

}
.close-modal2:hover,.close-modal2:active, #reviens-arriere-page:hover, #reviens-arriere-page:active {
	display:block;
	background-color:rgba(14, 47, 40, 1);
	color: #FFF;
}
/******** bouton select *****************************/
#categorychoix {
	width: 420px;
	height: 51px;
	background: #FFF;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	border: #FFF;
	color: #3D3D3D;
	font-family: Work Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;

}
.close-modal2:hover {
	background-color:rgba(14, 47, 40, 1);
	color: #FFF;
}


#imageInput {
	width: 0px;
	height: 0px;
	padding: 0px;
}
img#imageDisplay {
	
    height: 164px;
	width: 101px;
	object-fit: contain;
    
	
}
img#icone-image {
	display: flex;
}
#popup2, #popup1 {
	display: flex;
	height: 30px;
	width: 100%;
	background-color: white;
	color: crimson;
	font-size: 16px;
	font-weight: 600;
	justify-content: center;
	font-family: Work Sans;
	margin: 10px;
}
#popup2, #popup1 {
	display: flex;
	height: 20px;
}
#logout {
	cursor: pointer;
}
#ligne2 {
	padding: 0px 92px;
    width: 420px;
    color: #3D3D3D;
	
}